@font-face {
    font-family: 'myeng';
    src: url('../fonts/eng_01.eot');
    src: url('../fonts/eng_01.eot') format('embedded-opentype'),
         url('../fonts/eng_01.woff') format('woff'),
         url('../fonts/eng_01.ttf') format('truetype'),
         url('../fonts/eng_01.svg#AvantGardeBkBTBook') format('svg');
}
@font-face {
    font-family: 'mymyan';
    src: url('../fonts/royalarthouse13.eot');
    src: url('../fonts/royalarthouse13.eot') format('embedded-opentype'),
         url('../fonts/royalarthouse13.woff') format('woff'),
         url('../fonts/royalarthouse13.ttf') format('truetype'),
         url('../fonts/royalarthouse13.svg#RoyalArtHouse13Regular') format('svg');
}
label{
	color:#fff;
}
.test{
	color:red;
}
.fullwrapper{
	background: #AAD04E;
	height: auto;
	padding: 10px 0 0 0;
}
.mytitle{
	font-family: 'myeng';
	font-size: 4em;
}
.mysubtitle{
	background: #3C3C3C;
	color: #fff;
	padding: 5px;
	display: inline-block;
	margin-top: -10px;
	letter-spacing: 2px;
	line-height: 20px;
}
.mynav{
	margin-top: 20px;
}
.middlewrapper{
	background: #3C3C3C;
	height: auto;
}
.footerwrapper{
	min-height: 100px;
	background: #000;
}
.footertext{
	color: #fff;
}
.adm-job-data-form{
	padding-top: 20px;
	padding-bottom: 20px;
}
.job-data-form-container{
	min-height: 500px;
}
.dispaly-job-table-wrap{
    text-align: center;
}
.imgupload-btn{
	height: auto;
}
/* .menuNavi:hover{
	background: #AAD04E !important;
	color: #000 !important;
	border-radius: 5px; 
} */
.card-detail-view-row{
	min-height: 40px;
	background: #fff;
	color: #000 !important;
	border: 1px solid red;
	line-height: 40px;
	font-size: 1em;
	border: 1px solid #000;
	text-align: center;
}
.card_pic{
	min-height: 200px;
}
.default{
	background: #AAD04E;
}
.mybutton{
	margin:10px 10px 10px 0;
}
.foo{
	border: 1px dotted red;
}
.bar{
	border: 1px solid #000;
	min-height: 40px;
	line-height: 40px;

}
.bar2{
	border: 1px solid #000;
	min-height: 150px;
}
.barframe{
	padding-top: 10px;
	padding-bottom: 10px;
}
.detailCardImage{
	border-radius: 50px;
}
@media (min-width: @screen-sm-min) {

	.bar2{
		margin-top: 27px;
	}
}